html {
    font-size: 65.5%;
    font-family: 'DM Sans', sans-serif;

}

.contenedor {
    /* border: 5px solid cadetblue; */
    background-color: #fff1ff;
    display: grid;
    width: auto;

    grid-template-columns: 170px 17rem;
    grid-template-rows: 33% 33% 33%;
    /* grid-template-rows: 100px 100px; */
    /* grid-auto-columns: 100px 100px; */
    /* grid-auto-rows: 150px;  */
    /* grid-auto-flow: row; */
    row-gap: 2rem;
    column-gap: 1rem;

}

.item {
    border: 5px solid yellowgreen;
    font-size: 4rem;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.item p {
    background-color: aqua;
    padding: 15px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0;
}